*{
    margin: 0;
    align-items: center;
    color: white;
    padding: 0;
}
.header
{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(6, 29, 4, 0.7),rgba(6, 29, 4, 0.7)),url(img/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
#sitelogo{
    display: block;
    margin: 0 auto;
    height: 250px;
}
.nav-links
{
    flex: 1;
    /*color: white;
    margin: 0px;
    text-decoration: none;*/
    text-align: right;
}
h1{
    font-size: 50px;
    text-align: center;
}
h2{
    font-size: 30px;
    margin-top: 15px;
    text-align: center;
    margin-bottom: 15px;
}
#line
{    
    font-size: 30px;
    text-align: center;

}
.icon{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    gap: 5px;
    
}
.icon-text {
    background-color: rgb(255, 255, 255);
    text-decoration: none;
color: rgb(15, 109, 25);
padding: 4px;
border-radius: 3px;
}
#about
{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-size: 13px;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}
.about-us
{
    background-color: rgb(4, 41, 4);
}